/* 1 */ /* 12 */
* {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}

/* 2 */
h1 {
    font-size: 24px;
    color: #242424;
    width: 900px;
}

/* 3 */ 
h2 {
    font-size: 20px;
    color: #606060;
    width: 800px;
}

/* 4 */ /* 8 */ 
p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* 9 */ /* 11*/ /* 13 */ 
ul{
    margin-left: 100px;
    padding: 20px;
    border: 2px solid blue;
    width: 40%;
    list-style-type: none;
}

/* 5 */ /* 8 */ /* 14 */ 
li {
    font-family: monospace;
    font-size: 18px;
    padding: 10px;
}

/* 15 */
li:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

/* 7 */
li > a {
    color: orange;
    text-decoration: underline;
}

/* 6 */ 
a {
    font-weight: bold;
}

/* 10 */
.colorVerde {
    color: green;
}

