
*{
    font-family: sans-serif;
}

div{
    width: 25%;
    box-shadow: 0 0px 7px rgb(0, 0, 0);
}

header{
    background-color: black;
    height: 60px;
}

main{
    height: 150px;
    padding: 20px;
}

footer{
    background-color: rgb(129, 120, 120);
    height: 40px;
}

.contenido{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}