ul{
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
    margin-top: 0px;
    width: max-content;
}

li{
    background-color: rgba(123,198,199,0.8);
    list-style-type: none;
    margin: 2px;
    padding: 10px 20px;
}

a{
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}